body {
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
}

h1, th {
    font-family: "Cambria", serif;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
	border: 1px solid #000;
}

th {
    background-color: #666;
    padding: 20px;
    text-align: center;
}
    
td {
    font-family: "Calibri", sans-serif;
    padding: 10px;
    text-align: justify;
}